body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d87093;
  }
  
  header, footer {
    background-color: #222;
    color:pink;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    margin: 15px;
    color:pink;
    text-decoration: none;
  }
  
  main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .gallery img {
    max-width: 300px;
    margin: 10px;

  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
  }
  
  
  .about-section {
    text-align:center;
    max-width:500px;
  }
  .about-section h2{
    text-align:center;
    max-width:500px;

  }


  .about-section p{
    max-width: 800px;
   text-align: left;
        }
   form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid pink;
  }
  
  button:hover{
    background-color: pink;
    color:white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    nav {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .gallery {
      flex-direction: column;
      align-items: center;
      gap:60px;
    }
  }
  .heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h2{
  color:black;
  font-size: xx-large;
  text-align: right;

}
.myprofile{
  max-width:550px;
  width: 350px;
 margin: 10px;
}