body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background:white;
  }
  
  header, footer {
    background-color: #222;
    color:white;
    padding: 16px;
    text-align: center;
  }
  
  nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 32px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about-section {
    text-align: center;
  }
  
  .profile-img {
    max-width: 150px;
    border-radius: 50%;
  }
  
  form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid whitesmoke;
  }
  
  button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .gallery {
      flex-direction: column;
      align-items: center;
    }
  }